<div class="table">
  <div class="td-page-wrapper" *ngIf="Tabela$ | async as Tabela; else elseBlock">
    <div class="po-row">
      <option class="po-md-4" *ngFor="let T of Tabela" [ngValue]="Tabela.vin"></option>
    </div>
  </div>
  <table>
    <thead class="table-head">
      <th>Código - Vin</th>
      <th>Odômetro</th>
        <th>Nível de Combustível</th>
        <th>Status</th>
        <th>Lat.</th>
        <th>Long.</th>
      </thead>
      <tbody class="table-body">
        <td><input [formControl]="tabelaInput"></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tbody>
      <tfoot class="table-foot">
      </tfoot>
    </table>
    <ng-template #elseBlock><p>Não há dados</p></ng-template>
  </div>
