<div class="table">
    <table>
      <thead class="table-head">
        <th>Código - Vin</th>
        <th>Odômetro</th>
        <th>Nível de Combustível</th>
        <th>Status</th>
        <th>Lat.</th>
        <th>Long.</th>
      </thead>
      <tbody class="table-body">
        <td scope="row"><input type="search" placeholder="Insira o código VIN"></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tbody>
      <tfoot class="table-foot">
      </tfoot>
    </table>
  </div>
