
<div>
  <nav class="navbar navbar-light bg-white">
    <a class="navbar-brand">
    <i class="fa fa-bars mr-2"(click)="menu.abreMenu()"
    (keyup.space)="menu.abreMenu()"></i>Menu</a>
    <div>
      <a [routerLink]="['/login']"><span><img src="/assets/img/baseline_logout_black_24dp.png"/></span></a>
    </div>
  </nav>
</div>

<div class="screen">
<img src="/assets/img/ranger.png"/>
  <div class="card">
    <div class="card-header">
      Sistema de Dados Ford
    </div>
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <p>Bem Vindo(a)!!!</p>
      </blockquote>
    </div>
  </div>
</div>

<app-menu #menu>
  <img src="assets/img/ford.png" class="logo"/>
  <ul class="list-unstyled">
    <li class="line"><a [routerLink]="['/main']">Home</a></li>
    <li class="line"><a [routerLink]="['/dashboard']">Dashboard</a></li>
  </ul>
</app-menu>

